<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>api_environment</key>
	<string></string>
	<key>api_header</key>
	<string>https://</string>
	<key>api_host</key>
	<string>iuoooo.com</string>
	<key>api_host_adcoin</key>
	<string>jqyxadm.iuoooo.com</string>
	<key>api_host_adm</key>
	<string>adm.iuoooo.com</string>
	<key>api_host_aip</key>
	<string>aip.iuoooo.com</string>
	<key>api_host_ais</key>
	<string>ais.iuoooo.com</string>
	<key>api_host_api</key>
	<string>api.iuoooo.com</string>
	<key>api_host_app</key>
	<string>app.iuoooo.com</string>
	<key>api_host_apr</key>
	<string>apr.iuoooo.com</string>
	<key>api_host_arcx</key>
	<string>arcx.iuoooo.com</string>
	<key>api_host_aup</key>
	<string>aup.iuoooo.com</string>
	<key>api_host_avm</key>
	<string>avm.iuoooo.com</string>
	<key>api_host_babystory</key>
	<string>babystory.iuoooo.com</string>
	<key>api_host_bac</key>
	<string>bac.iuoooo.com</string>
	<key>api_host_bac_e</key>
	<string>bace.iuoooo.com</string>
	<key>api_host_bbs</key>
	<string>bbs.iuoooo.com</string>
	<key>api_host_brc</key>
	<string>brc.iuoooo.com</string>
	<key>api_host_browse_rec</key>
	<string>itemreccontrol.iuoooo.com</string>
	<key>api_host_btp</key>
	<string>btp.iuoooo.com</string>
	<key>api_host_cbc</key>
	<string>cbc.iuoooo.com</string>
	<key>api_host_ccp</key>
	<string>ccp.ms.iuoooo.com</string>
	<key>api_host_ccp.es</key>
	<string>ccp.es.iuoooo.com</string>
	<key>api_host_ccp_chat</key>
	<string>ccp.iuoooo.com</string>
	<key>api_host_certification</key>
	<string>css.iuoooo.com</string>
	<key>api_host_comment</key>
	<string>comment.iuoooo.com</string>
	<key>api_host_con</key>
	<string>con.iuoooo.com</string>
	<key>api_host_confignotify</key>
	<string>confignotify.iuoooo.com</string>
	<key>api_host_corestore</key>
	<string>corestore.iuoooo.com</string>
	<key>api_host_coupon</key>
	<string>coupon.iuoooo.com</string>
	<key>api_host_cplus</key>
	<string>cplus.iuoooo.com</string>
	<key>api_host_cyapi</key>
	<string>cyapi.iuoooo.com</string>
	<key>api_host_cymobile</key>
	<string>cymobile.iuoooo.com</string>
	<key>api_host_dsapi</key>
	<string>dsapi.iuoooo.com</string>
	<key>api_host_dsmobile</key>
	<string>dsmobile.iuoooo.com</string>
	<key>api_host_dss</key>
	<string>dss.iuoooo.com</string>
	<key>api_host_easyvaas</key>
	<string>ev.iuoooo.com</string>
	<key>api_host_ebc</key>
	<string>ebc.iuoooo.com</string>
	<key>api_host_ebc-ui</key>
	<string>ebc-ui.iuoooo.com</string>
	<key>api_host_em</key>
	<string>em.iuoooo.com</string>
	<key>api_host_enterprise</key>
	<string>nbe.iuoooo.com</string>
	<key>api_host_enterprise.news</key>
	<string>enterprise.news.iuoooo.com</string>
	<key>api_host_enterprise_mvp</key>
	<string>mvpe.iuoooo.com</string>
	<key>api_host_enterpriseoperation</key>
	<string>enterpriseoperation.iuoooo.com</string>
	<key>api_host_fileserver</key>
	<string>fileserver.iuoooo.com</string>
	<key>api_host_fileservice</key>
	<string>fileservice.iuoooo.com</string>
	<key>api_host_finance</key>
	<string>finance.iuoooo.com</string>
	<key>api_host_fsp</key>
	<string>fsp.iuoooo.com</string>
	<key>api_host_game</key>
	<string>game.iuoooo.com</string>
	<key>api_host_goldmodule</key>
	<string>fsp.iuoooo.com</string>
	<key>api_host_gportal</key>
	<string>gportal.iuoooo.com</string>
	<key>api_host_groupchat</key>
	<string>sns.iuoooo.com</string>
	<key>api_host_groupquery</key>
	<string>api.iuoooo.com/ugm.api</string>
	<key>api_host_hm</key>
	<string>hm.iuoooo.com</string>
	<key>api_host_hotword</key>
	<string>hotword.iuoooo.com</string>
	<key>api_host_imv</key>
	<string>imv.iuoooo.com</string>
	<key>api_host_info</key>
	<string>info.iuoooo.com</string>
	<key>api_host_itemrecservice</key>
	<string>itemrecservice.iuoooo.com</string>
	<key>api_host_itemsearch</key>
	<string>itemsearch.iuoooo.com</string>
	<key>api_host_iuform</key>
	<string>iuform.iuoooo.com</string>
	<key>api_host_ius</key>
	<string>ius.iuoooo.com</string>
	<key>api_host_iustore</key>
	<string>iustore.iuoooo.com</string>
	<key>api_host_j</key>
	<string>j.iuoooo.com</string>
	<key>api_host_jhbac</key>
	<string>jhbac.iuoooo.com</string>
	<key>api_host_jianguan</key>
	<string>jianguan.iuoooo.com</string>
	<key>api_host_layouts</key>
	<string>layouts.iuoooo.com</string>
	<key>api_host_lbp</key>
	<string>lbp.iuoooo.com</string>
	<key>api_host_lvc</key>
	<string>lvc.iuoooo.com</string>
	<key>api_host_lvp</key>
	<string>lvp.iuoooo.com</string>
	<key>api_host_map</key>
	<string>map.iuoooo.com</string>
	<key>api_host_md</key>
	<string>md.iuoooo.com</string>
	<key>api_host_media</key>
	<string>pmediae.iuoooo.com/vod/data/video</string>
	<key>api_host_mpa</key>
	<string>mpa.iuoooo.com</string>
	<key>api_host_mvp</key>
	<string>mvp.iuoooo.com</string>
	<key>api_host_mvp_video_fileserver</key>
	<string>mvpvf.iuoooo.com</string>
	<key>api_host_mvpf</key>
	<string>mvpf.iuoooo.com</string>
	<key>api_host_mvpvf</key>
	<string>mvpvf.iuoooo.com</string>
	<key>api_host_myorder</key>
	<string>pay.iuoooo.com</string>
	<key>api_host_nb</key>
	<string>nb.iuoooo.com</string>
	<key>api_host_nb_e</key>
	<string>nbe.iuoooo.com</string>
	<key>api_host_nbe</key>
	<string>nbe.iuoooo.com</string>
	<key>api_host_nbfileserver</key>
	<string>nbfileserver.iuoooo.com</string>
	<key>api_host_news</key>
	<string>nbe.iuoooo.com</string>
	<key>api_host_nlb</key>
	<string>nlb.iuoooo.com</string>
	<key>api_host_notify</key>
	<string>notify.iuoooo.com</string>
	<key>api_host_ntf</key>
	<string>ntf.iuoooo.com</string>
	<key>api_host_oa</key>
	<string>oa.iuoooo.com</string>
	<key>api_host_oapi</key>
	<string>oapi.iuoooo.com</string>
	<key>api_host_oebc-ui</key>
	<string>oebc-ui.iuoooo.com</string>
	<key>api_host_offlineenterpriseoperation</key>
	<string>offlineenterpriseoperation.iuoooo.com</string>
	<key>api_host_offlineshopsearch</key>
	<string>offlineshopsearch.iuoooo.com</string>
	<key>api_host_oms</key>
	<string>oms.iuoooo.com</string>
	<key>api_host_passport</key>
	<string>passport.iuoooo.com</string>
	<key>api_host_patrol</key>
	<string>patrol.iuoooo.com</string>
	<key>api_host_pay</key>
	<string>game.iuoooo.com</string>
	<key>api_host_pip</key>
	<string>pip.iuoooo.com</string>
	<key>api_host_pip-ui</key>
	<string>pip-ui.iuoooo.com</string>
	<key>api_host_pmediae</key>
	<string>pmediae.iuoooo.com</string>
	<key>api_host_portal</key>
	<string>portal.iuoooo.com</string>
	<key>api_host_position</key>
	<string>dss.iuoooo.com</string>
	<key>api_host_rec</key>
	<string>itemreccontrol.iuoooo.com</string>
	<key>api_host_rips</key>
	<string>rips.iuoooo.com</string>
	<key>api_host_ripx</key>
	<string>ripx.iuoooo.com</string>
	<key>api_host_ripx-ui</key>
	<string>ripx-ui.iuoooo.com</string>
	<key>api_host_ripxa</key>
	<string>ripxa.iuoooo.com</string>
	<key>api_host_ripxc</key>
	<string>ripxc.iuoooo.com</string>
	<key>api_host_scfileserver</key>
	<string>scfileserver.iuoooo.com</string>
	<key>api_host_scg</key>
	<string>scg.iuoooo.com</string>
	<key>api_host_search</key>
	<string>infosearch.iuoooo.com</string>
	<key>api_host_searchtest</key>
	<string>searchtest.iuoooo.com</string>
	<key>api_host_share</key>
	<string>share.iuoooo.com</string>
	<key>api_host_shopsearch</key>
	<string>shopsearch.iuoooo.com</string>
	<key>api_host_sign</key>
	<string>sign.iuoooo.com</string>
	<key>api_host_sip</key>
	<string>sip.iuoooo.com</string>
	<key>api_host_sns</key>
	<string>sns.iuoooo.com</string>
	<key>api_host_stbx</key>
	<string>stbx.iuoooo.com</string>
	<key>api_host_tag</key>
	<string>tag.iuoooo.com</string>
	<key>api_host_tep</key>
	<string>tep.iuoooo.com</string>
	<key>api_host_tpp</key>
	<string>tpp.iuoooo.com</string>
	<key>api_host_ttpw</key>
	<string>ttpw.iuoooo.com</string>
	<key>api_host_ufm</key>
	<string>ufm.iuoooo.com</string>
	<key>api_host_upfileserver</key>
	<string>upfileserver.iuoooo.com</string>
	<key>api_host_upload</key>
	<string>fileserver.iuoooo.com</string>
	<key>api_host_upload_up</key>
	<string>upfileserver.iuoooo.com</string>
	<key>api_host_url</key>
	<string>url.iuoooo.com</string>
	<key>api_host_vcp</key>
	<string>vcp.iuoooo.com</string>
	<key>api_host_video</key>
	<string>video.iuoooo.com</string>
	<key>api_host_vms</key>
	<string>pvms.iuoooo.com/data/video</string>
	<key>api_host_wap</key>
	<string>wap.iuoooo.com</string>
	<key>api_host_xc6</key>
	<string>27.17.16.19</string>
	<key>api_host_xgp</key>
	<string>xgp.iuoooo.com</string>
	<key>api_host_yjapi</key>
	<string>yjapi.iuoooo.com</string>
	<key>api_host_yjb</key>
	<string>yjb.iuoooo.com</string>
	<key>api_host_zph</key>
	<string>zph.iuoooo.com</string>
	<key>api_serveradress</key>
	<string>nlb.iuoooo.com/Jinher.AMP.NLB.SV.LoaddingSV.svc/Do</string>
	<key>api_host_ntpp</key>
	<string>ntpp.iuoooo.com</string>
	<key>api_host_vms1</key>
	<string>vms.iuoooo.com</string>
	<key>api_host_tdss</key>
	<string>tdss.iuoooo.com</string>
	<key>api_host_qjserver</key>
	<string>qjserver.iuoooo.com</string>
	<key>api_host_yjmobile</key>
	<string>yjmobile.iuoooo.com</string>
	<key>api_host_suggestlist</key>
	<string>suggestlist.iuoooo.com</string>
	<key>api_host_promotion</key>
	<string>promotion.iuoooo.com</string>
	<key>api_host_lvpfileserver</key>
	<string>lvpfileserver.iuoooo.com</string>
	<key>api_host_tmpwechat</key>
	<string>tmpwechat.iuoooo.com</string>
	<key>api_host_tpwx</key>
	<string>tpwx.iuoooo.com</string>
	<key>api_host_media1</key>
	<string>media.iuoooo.com</string>
	<key>api_host_nbx</key>
	<string>nbx.iuoooo.com</string>
</dict>
</plist>
